@import "../../../../styles/variables";

.employer-register-Component{
  background-color: $panelBg;
  color: $carbon;
  font-size: 1.8rem;
  padding: $contentPadding;

  .jb-form-group{
    text-align: left;
    margin: 0 0 2rem 0;

    label{
      display: block;
      margin: 0 0 .5rem 0;
    }

  }
}