@import '../../../styles/variables';


.dashboard-home{
  width: 100%;
  height: 100%;
  padding: 1% 3%;
  text-align: left;

  .home-logo{
    max-width: 56px;
    float: right;
  }
  .header{
    display: inline-block;
  }

}