@import '../../../styles/variables';
@import '../dashboardStyles';


.dashboard-home{
  @include dashboard-main-section();

  .home-logo{
    max-width: 56px;
    float: right;
  }
  .header{
    display: inline-block;
  }

}