<!DOCTYPE html>
<html>
<head>
	<base href="/">
	<title>React Job Board</title>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
	<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
<div id='root'>Loading React application...we should be running</div>
<script src="bundle.js"></script>
</body>
</html>