<html>
<head>
	<base href="/">
	<title>React Job Board</title>
	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<!-- 3. Display the application -->
<body>
<div id='root'>Loading React application...</div>
<!--<script src="../../public/bundle.js"></script>-->
<!--<script src="../../public/test.js"></script>-->
</body>
</html>