@import "../../styles/_variables";

.header-component{
  width: 100%;
  background-color: $header;
  display: flex;
  height: 55px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: $white;

  #header-logo{
    margin-left: 23px;
  }

  .nav-item{
    margin: 0 50px;
    font-size: 1.8rem;
  }
  #nav-links{

  }
}