@import "../../../styles/variables";

.job-post-container{
  flex: 1 0 auto;
  width: 90%;
  margin: auto;
  margin-top: 15px;
}

.job-post {
  width: 60%;
  margin: auto;
  display: inline-block;
  vertical-align: top;
  margin-right: 45px;

  .job-header-container{
    border: 1px solid $borders;
    max-height: 70px;
    margin-bottom: 15px;
    background-color: $panelBg;
    text-align: left;
    padding: 15px;

  }
  .job-description-container{
    border: 1px solid $borders;
    background-color: $panelBg;
  }

  .jp-job-header {
    color: $jobTitle;
    font-weight: bold;
    margin: 0 0 15px 0;
  }
}