@import "../../styles/variables";

.data-table {
  width: 100%;
  border-collapse: collapse;

  table, tr {
    border: 1px solid $borders;
  }

  td,th {
    padding: 10px 10px 10px 15px;
  }

  .data-row {
    height: 50px;
  }

  .data-row td:first-child{
    position: relative;
  };

  .data-row td:first-child::before{
    content: '';
    background-color: red;
    width: 10px;
    height: 50px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }

  .data-row:nth-child(even) {
    background-color: $neutral;
  }

  .data-row:hover {
    background-color: $jobTitle;
    color: $white;
    cursor: pointer;
  }

  .selected {
    background-color: $watermelon;
    color: $white;
    font-weight: bold;
  }
}