@import "../../styles/variables";

.jp-employer-aside{
  background-color: $white;
  color: $carbon;
  text-align: left;
  font-size: 1.6rem;

  .title{
    color: $jobTitle;
    font-weight: bold;
    font-size: 2.0rem;
  }
}